<div class="about-head">
    <h2>About iJavaScript</h2>
    <hr style="height: 2px;">
</div>
<div class="about-content">
    <div class="about-image">

    </div>
    <div class="about-text">
        <p>
            iJavascript is a research group, founded to check different javascript frameworks based on different design patterns.
        </p>
        <br>
        <p>
            During Kick-off it will test React, Angular Knockout and Ember JS features. This use case will prove different aspects of framework capabilities.
        </p>
    </div>
</div>
<div class="content">
    <h2>Re-usable Component</h2>
    <div class="button">
    <button class="color-button"
    (click)="enableDisableRule()" 
    [ngClass]="{'yellow' : toggle, 'red': !toggle}">
    </button>
    <button class="color-button1" ></button>
</div>
</div>