.container{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    background-color: rgb(214, 213, 213);;
    width: 100vw;
    min-height: 100vh;
}

.boom{
    width: 60%;
    background-color: #e9ecef;
    padding: 4rem;
    border-radius: .3rem;
    font-family: 'Lato';
    margin-top: 40px;
}

h2 {
    color: #212121;
}
.headerbar {
    padding: 10px;
    width: 100%;
    background-color: #CC0000;
}
.headerbar > span{
    /* font-family: 'Lobster', cursive; */
    font-size: 2rem;
    margin-left: 20px;
    color: white;
    /* text-shadow: 2px 2px rgba(0, 0, 0, 0.5); */
}
.para-class{
    color: white;
}
button.headon{
    background-color: rgb(214, 213, 213);
    border: none;
    width: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #CC0000;
    font-size: 20px;
    cursor: pointer;
}