<div class="team">
    <h1>
        Meet the Team
    </h1>
    <hr style="height: 2px;">

    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Beng Tiong Tang</h3>
        </div>
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Niraj Kumar Ja</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Siddhardh Pandey</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Jatin Sun</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Parasmani Jain</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> saurabh Nilegoankar</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Bhavana Sharma</h3>
        </div>
        
    </div>
    <div class="member">
        <div class="image">
            <img src="../../assets/default-image.jpg" alt="default">
        </div>
        <div class="name">
            <h3> Vimlesh Singh</h3>
        </div>
        
    </div>
</div>