<!-- <div class="formcontainer"> -->
    <!-- <div class="formbody"> -->
        <div class="errorc" *ngIf="erroryes">                
            {{successMessage}}
        </div>
        <form style="width:100%;" [formGroup]="myForm">
            <!-- <div class="header">Register</div> -->
            <div class="loginclass">
            <div class="row">
                <p class="label">Email</p>
                <!-- <mat-form-field style="width:100%;"> -->
                    <input type="text" formControlName="email" matInput placeholder="Email" id="email">
                <!-- </mat-form-field>                 -->
                <span *ngIf="isValid('email')">Entered email is invalid</span>
            </div>
            <div class="row">
                <p class="label1">User ID</p>
                <!-- <mat-form-field style="width:100%;"> -->
                    <input type="text" formControlName="username" matInput placeholder="Username" id="user">
                <!-- </mat-form-field> -->
                <span *ngIf="isValid('username')">Username is required</span>
            </div>
            <div class="row">
                <p class="label2">Password</p>
                <!-- <mat-form-field style="width:100%;"> -->
                    <input type="password" formControlName="password" matInput placeholder="Password" id="pass">
                <!-- </mat-form-field> -->
                <span *ngIf="isValid('password')">Password is a mandatory field</span>
            </div>
            <div class="row">
                <p class="label3">Confirm password</p>
                <!-- <mat-form-field style="width:100%;"> -->
                    <input type="password" formControlName="cnfpass" matInput placeholder="Re-enter Password" id="cnfpass">
                <!-- </mat-form-field> -->
                <span *ngIf="isValid('cnfpass')">Password and confirm password should match</span>
            </div>
            <div class="buttons">
                <button class="form-btn" (click)="register()">Register</button>
                <button class="form-btn-hollow" (click)="movetologin()">Login</button>
            </div>


            <!-- <div style="text-align: center;">                
                {{successMessage}}
            </div> -->
    </div>

    <!-- <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" (click)="movetologin()">Login</button>
        </div>
    </div> -->
    </form>
<!-- </div> -->